/*
desarrollado: Sergio Bravo
alias: Mucacran

*/



select
{
    cursor: pointer;
    text-indent: 1px;
    text-overflow: '';
    -moz-appearance:none  ;
    -webkit-appearance:none;
    appearance: none; /* para quitarle la flecha por defecto */
}

.form-control-lg
{
	height: 50px;
}
.margin-bottom-sm
{
    height: 50px;
}
.form-control
{
    color:#8c8989;
}

.tituloFormulario
{
    background-color: rgba(0, 101, 149, 1) ;
    color: aliceblue;
    padding: 2em 0;
    
}
.tituloFormulario h5
{
    text-align: center;
    font-size: 2em;
}

form
{
    margin: 0 auto;
    width: 600px;
    max-width: 100%;
    height: auto;
}

form .preguntasForm
{
    background-color: rgba(0, 159, 194, 1);
    padding: 2em 3em;
}

.input-group
{
    margin-bottom: 1.5em !important;
}

select::-ms-expand {
    display: none; /* Remove default arrow in Internet Explorer 10 and 11 */
}

/*iconos del formulario*/
.input-group-addon
{
    background-color: rgba(0, 101, 149, 1);;
    border: 0px;
    color: white;
}

.content-btn
{
    margin: 0 auto;
    width: 100%;
}

.btn-primary
{
    background-color: rgba(0, 101, 149, 1);
}

.btn-primary:hover
{
    background-color: rgba(0, 159, 194, 1);
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.40);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.40);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.40);
}